<div class="hero-unit">
	<div class="row center-block">
		<div class="col-md-4 text-center">
			<i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
			<h2>Reach</h2>
		</div> 
		<div class="col-md-4 text-center">
			<i class="fa fa-gg-circle fa-5x" aria-hidden="true"></i>
			<h2>Connection</h2>
		</div> 
		<div class="col-md-4 text-center">
			<i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
			<h2>Solutions</h2>
		</div> 
	</div>
</div>
