<div class="jumbotron">
			<h1 style="text-align: center;">Job Finder</h1>
			<img style="display: block; margin: 0 auto;" src="http://macedoniabattlecreek.org/wp-content/uploads/2013/08/Job-Fair-1024x528.png" height="300">
			</br>
			<p style="text-align: center;">Welcome to the best site for job search!</p>
	
</div>

