<div class="jumbotron">	
	<h1 style="text-align: center;">Job Finder</h1>
	<img class="center" src="http://macedoniabattlecreek.org/wp-content/uploads/2013/08/Job-Fair-1024x528.png" height="300">
	</br>
	<p style="text-align: center;">Welcome to the best site for job search!</p>
	<div class="col-md-12 text-center">
		<%= link_to 'Search jobs', jobs_path, class: "btn btn-primary btn-lg" %>
	</div>	
</div>

